.zhuce{
    font-size:.15rem;
    width: 100%;
    margin-top: .5rem;

}
.zhuce input{
    width: 2rem;
    height: .3rem;
    margin-bottom: .2rem;
}
.out_box{
    margin-left: .1rem;
}
.zhuce button{
    width: .6rem;
    height: .3rem;
    font-size: .15rem;
    margin-left: .75rem;
    margin-bottom: .5rem;

}
.zhuce .zhuce_a{
    width: .7rem;
    margin-left:.1rem;
}
